<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="login :: indexHead">
</head>
<body>
    <nav th:include="index :: navbar" class="purple lighten-2"></nav>

    <div class="container">
        <h1>What is your secret?</h1>

        <form th:action="@{/secret/createSecret}" method="post" th:object="${newSecret}">
            <textarea class="materialize-textarea" th:field="*{body}"></textarea>
            <button type="submit" class="waves-effect waves-light btn purple">Add Secret</button>
        </form>
    </div>
</body>
</html>