<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Debt: make includes all come from same place-->
<head th:include="login :: indexHead"></head>
<body>
    <!--Debt: wrap nav in div so we can have consistent color-->
    <nav class="purple lighten-3" th:fragment="navbar">
        <div class="nav-wrapper container">
            <a th:href="@{/}" class="brand-logo">SECRETSSSSSS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/secret/createSecret}">Create Secret</a></li>
                <li><a th:href="@{/secret/mySecrets}">My Secrets</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col s12 m4" th:each="secret : ${secrets}">
                <div class="card-panel purple">
                    <span class="white-text" th:text="${secret.body}"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:include="login :: scripts"></div>

</body>
</html>