<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>LOGIN FOOL!</h1>
    <div style="color: red;" th:text="${error}"></div>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>
        <input type="submit" value="Login!" />
    </form>
</body>
</html>